.details-container {
  width: 100%;

  .details-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
    gap: 24px;
    flex-wrap: wrap;
  }

  .pokemon-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .stats-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 200px;
    padding: 8px;

    h2 {
      text-align: center;
    }

    .content {
      overflow: auto;
      max-height: 100%;

      .capatalize {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: "600px") {
  .details-container {
    .details-row {
      flex-direction: column;
      flex-wrap: nowrap;

      .stats-container {
        width: 80%;
        border: 1px solid var(--primary-4);
        border-radius: 24px;
      }
    }
  }
}

@media only screen and (min-width: "601px") and (max-width: "1024px") {
  .details-container {
    .details-row {
      flex-direction: row;
      .stats-container {
        width: 200px;
        height: 200px;
        border: 1px solid var(--primary-4);
        border-radius: 24px;
      }
    }
  }
}
