.app-container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  background-color: var(--primary-1);
}

.primary-button {
  all: unset;
  border: 1px solid var(--primary-4);
  border-radius: 12px;
  padding: 4px 12px;
  background-color: var(--white);

  &:hover {
    background-color: var(--primary-2);
    cursor: pointer;
  }

  &:active {
    background-color: var(--primary-3);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background-color: var(--white);
  border-radius: 16px;
  max-width: calc(90vw - 32px);
  max-height: calc(90vh - 32px);
  box-shadow: var(--shadow-m);
  padding: 32px;
  overflow: hidden;
}

.capatalize {
  text-transform: capitalize;
}
