@import "./variables.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &:hover {
    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: var(--primary-2);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--primary-6);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--primary-8);
    }
  }
}

body {
  margin: 0px;
}

h2 {
  margin: 0px;
}
